# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
media/
staticfiles/

# venv
env/
venv/
ENV/
.venv/

# pipenv
Pipfile
Pipfile.lock

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# IDE/Editor
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test output
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# Celery
celerybeat-schedule

# Sphinx documentation
docs/_build/

# Pytest
.pytest_cache/

# Local environment files
.env
.env.*

# SQLite Backup
*.sqlite3.bak
*.sqlite3.old

# Deployment
*.pem
